<%= render 'shared/nav_with_back_button', name: "TRANSACTIONS", path: groups_path  %>


<div id="spendings">
  <div class="groups-wrapper">

  <div class="d-flex justify-content-between align-items-center bg-light p-2 m-3"> 
    <%= image_tag @group.icon, :size => '100x100' %>
    <span><%= @group.name%></span>
    <div class="fw-bold">
      $<%=@spendings.reduce(0) { |sum, spending| sum + spending.amount }%>
    </div>
  </div>

  <% @spendings.each do |spending| %>
    <%= render spending %>
  <% end %>
  </div>
    <%= link_to "New Transaction", new_group_spending_path(params[:group_id]) , class:"new-group-button bg-success text-white text-decoration-none form-control p-4 text-center" %>

</div>