<div id="<%= dom_id group %>">
<%= link_to group_spendings_path(group.id), class:"text-decoration-none text-dark shadow" do %>
 <div class="d-flex justify-content-between align-items-center bg-light m-3 p-2">

      <%= image_tag group.icon, :size => '100x100' %>
      <%= group.name %>
      <span class="fw-bold">
        $ <%=group.group_spendings.reduce(0) { |sum, group_spending| sum + (group_spending.spending.amount) }%>
      </span>
 </div>
<% end %>
 
</div>
