


<%= form_for(resource, as: resource_name, url: session_path(resource_name),data: { turbo: false } ) do |f| %>
  <div class="bg-muted">
  <nav class="main-blue-background d-flex justify-content-between align-items-end text-light login-page-nav p-3">
    <%= link_to root_path, class: "bg-transparent text-light border-0", :method => :get do%>
      <span class="material-icons ">
      west
      </span>
    <%end%>


    <span>
    <h2>LOGIN</h2>
    </span>

    <span>
      <%= f.submit "  Log In", class: "text-light bg-transparent border-0" %>
    </span>
  </nav>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control p-3 mt-5", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control p-3", placeholder: "Password" %>
    </div>
  </div>

<% end %>

<%= render "devise/shared/links" %>
